@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --brown: #CB997E;
    --light-brown: #ddbea9;
    --beige: #ddbea9;
    --lighter-sepia: #b7b7a4;
    --light-sepia: #a5a58d;
    --sepia: #6b705c;

    background-image: url(images/table.jpg);
}
img{
    max-width: 100%;
}

h1,h2,h3,h4{
    font-family: 'Oswald', 'Times New Roman', Times, serif;
}

p, b, i, strong, a{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: 10% 7% 10% 7%;

    background-image: url(images/book.png);
    background-size:100% 100%;

    width: 83%;
    height: 23em;

    /* border: 3px solid black; */

    /*shadow*/
    -webkit-filter: drop-shadow(8px 5px 0px black);

    z-index:3;
}


.image-grid{
    display:grid;
    grid-template: 1fr 1fr/ repeat(4, 1fr);
    gap:20px;
    padding: 1% 9% 1% 9%;
    max-width:100%;
    max-height:100%;


    align-items: center;
    justify-items: center;
}
.image-grid img{
    width:85%;
    height:60%;
    margin:0px 0px 40px 0px;

    border-radius: 10px;
}
.image-grid img:hover{
    filter:brightness(130%);
    cursor:pointer;
}

.click-info{
    background-color:var(--lighter-sepia);
    opacity:0.95;
    display: none;
    width:83%;


    position:absolute;
    top:-20%;
    left:10%;
    

    animation: reverse;
    animation-duration: 2s;
    transition: 2s;
    padding:1%;
}

.click-info img{
    max-width:45%;
    
}
.exit{
    float:right;
    width: 4%;
}
.exit:hover{
    filter:blur(2px);
}
#title{
    position:absolute;
    top:0%;
    left:30%;
    right:30%;

    font-size: 3rem;
    font-family: 'Oswald', 'Times New Roman', Times, serif;
    color: white;
    z-index:1;
}
#ibime-logo{
    position:absolute;
    top:87%;
    left:30%;
    right:30%;
    
    z-index:2;

    text-align: center;
    color:var(--sepia);
    background-color:var(--beige);
}
#ibime-logo img{
    width:30%
}
.arrow{
    max-width: 3em;

    filter:invert();

    position:absolute;
    top:41%;
    z-index: 4;

    
}
#left{
    left: 3%;
}
#right{
    right: 6%;   
}

.arrow:hover{
    filter:blur(1px);
    cursor:pointer;
}

.page-reader{
    position:absolute;
    top:80%;
    margin-left:5%;
}
.page-reader b{
    font-size:2em;
    color:var(--sepia);
    text-shadow:2px 1px white;

    cursor: pointer;
}
.page-reader b:hover{
    color:var(--light-brown);
}
.page-reader strong{
    color:white;
    font-size:2em;
}
@media screen and (max-width: 600px){
    #title{
        font-size: 1.2em;
    }
    .click-info{
        top:-10%;
    }

}

@media screen and (min-width: 1600px){
    #title{
        font-size: 5em;
    }
    .click-info{
        top:-40%;
    }
    main{
        width:65%;
        height:26em;

        margin: 10% 10% 10% 18%;
    }
    #left{
        left: 6%;
    }

}